///////// reset
*{
  box-sizing: border-box;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-color:#f1f7edff;
	line-height: 1;
  	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:link {
	text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
///// Colors 
$black: rgba(13, 19, 33, 1); 
$cream: rgba(241, 247, 237, 1); 
$sage: rgba(145, 199, 177, 1); 
$mandarin: rgba(239, 131, 84, 1); 
$slate-blue: rgba(136, 132, 255, 1);
// 
//// font import 
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Questrial&display=swap');



//NAVIGATION CSS

.NavBar {
	font-family: 'Oswald', sans-serif;
	display: flex;
	background: $sage;
	height: 10vh;
	position: sticky;
	z-index: 9999;
	.logo-wrapper {
		display: flex;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: white;
		position: absolute;
		left: 5vw;
		top: 2vh;
		justify-content: space-evenly;
		#logo {
		  display: flex;
		  width: 60px;
		  height: 70px;
		  clip-path: polygon(68% 22%, 72% 21%, 76% 22%, 80% 22%, 82% 21%, 79% 19%, 77% 16%, 74% 12%, 71% 10%, 67% 9%, 63% 11%, 60% 14%, 59% 19%, 58% 24%, 58% 29%, 58% 32%, 54% 32%, 51% 33%, 47% 35%, 45% 38%, 42% 39%, 38% 42%, 35% 43%, 31% 43%, 27% 43%,      24% 41%, 21% 38%, 21% 42%, 22% 44%, 21% 48%, 24% 52%, 27% 56%, 30% 59%, 33% 61%, 37% 63%, 42% 64%, 47% 65%, 49% 68%, 49% 71%, 48% 74%, 49% 78%, 48% 81%, 52% 79%, 55% 82%, 55% 78%, 58% 78%, 55% 76%, 52% 74%, 52% 71%, 52% 67%, 53% 64%, 56% 63%,      60% 62%, 63% 60%, 66% 57%, 69% 55%, 71% 51%, 72% 47%, 72% 43%, 71% 38%, 69% 33%, 68% 29%, 66% 22%);
		  background: $mandarin;
		  position: absolute;
		  } 
	  }
	.menu-toggle {
		position: relative;
		flex-direction: row;
		justify-content: space-between;
		z-index: 1;
		top: 2vh;
		left: 5vw;
		input {
			display: flex;
			width: 100px;
			height: 100px;
			position: absolute;
			top: -4vh;
			left: 70vw;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
		}
		input:checked ~ span {
			opacity: 1;
			transform: rotate(45deg) translate(-2px, -1px);
		}
		input:checked ~ span:nth-last-child(3) {
			transform: rotate(-45deg) translate(0, -1px);
		}
		span {
			width: 25px;
			height: 5px;
			top: 2vh;
			left: 80vw;
			position: absolute;
			background: white;
			border-radius: 3px;
			z-index: 1;
			transform-origin: 4px 0px;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						opacity 0.55s ease;
		}
		span:first-child {
			transform-origin: 0% 0%;
		}
		span:nth-last-child(2) {
			transform-origin: 0% 100%;
		}
		#menu {
		visibility: hidden;	
		position: absolute;
		width: 90vw;
		padding: 50px;
		padding-top: 10px;
		height: 5vh;
		background: $sage;
		list-style-type: none;
		transform-origin: 0% 0%;
		transform: translate(-10%, 0%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
		}
		input:checked ~ #menu {
			visibility: visible;
			}
		#menu-item {
			color: white;
			text-decoration: none;
			padding: 10px 0;
		}

	}
}
   
////

.Card-Component {
	.card {
		display: flex;
		justify-content: center;
		height: auto;
		width: 400px;
		// border: 1px solid blue;
		padding: 5px;
		border-radius: 5px;
		margin: 10px;
		color: $black;
		font-size: 14px;
		background-color: white;
	}
	.image-and-content {
		display: flex;
	}
	
	img {
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin: 2px;
	}
	
	.content {
		margin: 2px;
		// border: 1px solid green;
		width: 320px;
		
	}
	
	.user-name, .handle-name, .date {
		margin: 0px 2px;
	}
	
	.user-name {
		font-weight: bold;
		text-decoration: none;
	}
	
	.tweet {
		margin: 2px;
		text-decoration: none;
	}
	
	.top, .actions {
		display: flex;
		flex-direction: row;
	  /*   justify-content: space-between; */
	  /*   height: 30px; */
	  /*   width: 100%; */
		// border: 1px solid red;
	}
	
	.actions {
		justify-content: flex-end;
	  /*   align-self: center; */
	}
	
	ion-icon {
		margin: 0px 2px;
		color: $mandarin;
	}
	
	ion-icon:hover{
		color: green
	  }	  
}

//Basic settings for the body
body{
	font-family: 'Questrial', sans-serif;
	background-color: $cream;
}
/// create tweet form
// header{
// 	position: relative;
// 	top: 20vh;
	.create-tweet{
	background-color: $sage;
	height: 10vh;
	width: 100%;
	// position: relative;
	// top:0.1vh;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
	.create-tweet-input{
		width:100%;
	}
	form{
		display: flex;
		justify-content: space-between;
		padding: 5px;
	}
	input{
		height: 6vh;
		width: 60vw;
		margin: 2px;
	}
	.tweet-button{
		height: 25px;
		width: 20%;
		background-color: $mandarin;
		color: $cream;
		float: right;
	}
}
// }

/// profile page
#profile-container{
	display: flex;
	background-color: $sage;
	color: white;
	padding: 16px;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 20px;
	width: 90%; 
	height: 32vh;
	border: 1px solid white;
	.avatar{
		height: 125px;
		width: 125px;
		border: 1px solid black;
		//// this img is just a place holder 
		// background-image: url(https://i.stack.imgur.com/l60Hf.png);
		// background-size: cover;
		// background-position: center;
		//////
		border-radius: 50%;
	}
	.userSwitchButtons{
		position: relative;
		top: 25vh;
		right: 2vw;
		height: 35px;
		display: flex;
		flex-direction: row;
	
	}
	#profile-info{
		font-size: 10px;
		position: relative;
		right: 85vw;
		label{
			position: relative;
			left: 35vw;
			bottom: 13vh;
		}
	}

	h3{
		font-size: 24px;
	}
	.card-container{
		position: relative;
		top: 30vh;
		right: 123vw;
	
	}
}
